@import "../../assets//sass/mixins/breakpoint.scss";

.margin-icons-b-t {
    margin-bottom: 40px;
    margin-top: 40px;

    .margin-icon-r {
        margin-right: 30px;

    }

}

.img {
    background-image: url("../../assets/imgs/IMG-noticias-mb.png");
    height: 240px;
    background-repeat: no-repeat;
    background-size: cover;


}

@include bp(md) {
    .img {
        background-image: url("../../assets/imgs/img-contant.png");
        height: 320px;
        background-repeat: no-repeat;
        background-size: cover;
    }

}