.text-sub {
    font-size: 16px;
    color: rgba(102, 102, 102, 1);

}

.margin-b-content {
    margin-bottom: 20px;
}

.max-content {
    width: max-content;
}

.border-t {
    border-top: 1px solid #E0E0E0;


}

.margin-content-t {
    margin-top: 40px;
}

.margin-sub-b {
    margin-bottom: 40px;
}


.text-link {
    font-size: 16px;
    color: rgba(39, 145, 208, 1);
    margin-right: 10px;

}

.h3-margin-b-content {
    margin-bottom: 7px;
}