@import "../../assets//sass/mixins/breakpoint.scss";

.text-titulo {

    font-size: 64px;
    line-height: 57, 6px;
    color: rgba(39, 145, 208, 1);


}

.flex {
    display: flex;

    .border-b {
        border-bottom: 1px solid #E0E0E0;

        .margin-b {
            margin-bottom: 40px;
        }
    }

    .margin-t {
        margin-top: 40px;

    }

    .flex-1 {
        flex: 1;
    }

    .flex-2 {
        flex: 2;
    }

    @include bp(md) {
        .padding-r {
            padding-right: 18%;
        }


    }

    .button {
        border-radius: 6px;
        width: 186px;
        height: 43px;
        background-color: transparent;
        margin-bottom: 2%;
        color: rgba(39, 145, 208, 1);
        font-size: 16px;

        font-weight: bold;
        cursor: pointer;
        transition: all 150ms linear;
        border: 2px solid rgba(39, 145, 208, 1);

        &:hover {
            background: rgba(39, 145, 208, 1);

            box-shadow: 0px 3px 3px #3333335b;
            color: #FFFFFF;
        }




    }

    .margin-r {
        margin-right: 3%;
    }

    .titulo-content {
        font-size: 32px;
        color: rgba(102, 102, 102, 1);

    }

    .text-sub {
        font-size: 16px;
        color: rgba(102, 102, 102, 1);
    }

    .titulo-h3 {
        font-size: 16px;
        color: rgba(102, 102, 102, 1);
        margin-top: 0;

    }

    .bloco-content {
        border: 1px solid rgba(39, 145, 208, 1);
        border-radius: 3%;
        height: 70px;
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .data-content {
            font-size: 16px;
            color: rgba(39, 145, 208, 1);


            .data {
                font-size: 22px;
            }
        }


    }


}