.IMG-info-r {
    margin-right: 15px;
}

.flex-position-colunm {
    flex-direction: column;
    min-height: 100vh;
}

.h3-graficos {
    color: rgba(39, 145, 208, 1);
    font-size: 16px;
    margin-top: 0;

}

.border-text-b {
    border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.margin-text-b {
    margin-bottom: 20px;
}

.margin-text-t {
    margin-top: 20px;
}

.bloco-img-pdf {
    border: 1px solid rgba(39, 145, 208, 1);
    Width: 63px;
    Height: 71.45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.text-pdf {
    font-size: 14px;
    color: rgba(102, 102, 102, 1);

}