@font-face {
    font-family: "Robot";
    src: url("../Fonts/Roboto-Regular.ttf");
}

body {
    margin: 0;
    font-family: Robot;
}

button {
    font-family: Robot;
}
.margin-t-head{
    margin-top: 50px;
}
.margin-t-0{
    margin-top: 0;
}